backend/.classpath
backend/.project
backend/.settings/org.eclipse.core.resources.prefs
backend/.settings/org.eclipse.jdt.apt.core.prefs
backend/.settings/org.eclipse.jdt.core.prefs
backend/.settings/org.eclipse.m2e.core.prefs
/backend/target/