<p-tabView>
  <p-tabPanel header="Baseline">
    <div class="list-group">
      <div class="list-group-item-heading py-1 text-center text-primary h6 text-uppercase">
        BASELINE
      </div>
      <div *ngFor="let process of ps.getProcesses('baseline')" class="list-group-item py-0">{{process.name}}
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Report">
    <div class="list-group">
      <div class="list-group-item-heading py-1 text-center text-primary h6 text-uppercase">
        BASELINE
      </div>
      <div *ngFor="let process of ps.getProcesses('report')" class="list-group-item py-0">{{process.name}}
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
<!-- <div class="list-group">
      <div class="list-group-item-heading py-1 text-center text-primary h6 text-uppercase">
        Projects
      </div>
      <div *ngFor="let project of ps.getProjects()" [class.active]="project === ps.getSelectedProject()"
        class="list-group-item py-0" (click)="ps.setSelectedProject(project)">{{project.name}}
      </div>
    </div> -->