<div class="list-group">
  <div class="list-group-item-info py-1 text-center text-info h6 text-uppercase">
    Projects
  </div>
  <div *ngFor="let project of projects" [class.active]="project === getSelectedProject()"
    class="list-group-item py-0" (click)="onSelect(project)">{{project.name}}
  </div>
</div>

<!-- 
<h3 id="">Projects</h3>
<ul class="projects">
  <li *ngFor="let project of projects"
    [class.selected]="project === selectedProject"
    (click)="onSelect(project)">
   {{project.name}}
  </li>
</ul>  -->