<!--<ag-grid-angular 
    style="width: 500px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
-->
<p-accordion multiple="true" expandIcon="pi pi-fw pi-caret-down" collapseIcon="pi pi-fw pi-caret-right">
    <p-accordionTab *ngFor="let row of rowData" class="paramgroup" header="{{row.category}}" selected="true">
            
            <!--<div *ngFor="let col of cols"> {{rowData2[col.field]}}
            </div>-->
        <p-table [columns]="cols" [value]="row.parameters" [scrollable]="true" [resizableColumns]="true">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="body" let-rowDat let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" pResizableColumn class="ui-resizable-column">
                        {{rowDat[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-accordionTab>
</p-accordion>